      <li>id: {{guitar.id}}</li>
      <li>make: {{guitar.make}}</li>
      <li>model: {{guitar.model}}</li>
      <li>string brand: {{guitar.string_brand}}</li>
      <li>string guage: {{guitar.string_guage}}</li>
      <li>last string change: {{guitar.last_string_change}}</li>
      <li>last setup: {{guitar.last_setup}}</li>
      <li>setup notes: {{guitar.setup_notes}}</li>
