<div><label>Make: </label> {{guitar.make}}</div>
<div><label>Model: </label> {{guitar.model}}</div>
<div> <label>String brand:</label> {{guitar.string_brand}}</div>
<div> <label> String gauge: </label> {{guitar.string_guage}}</div>
<div> <label> Last string change:</label> {{guitar.last_string_change}}</div>
<div> <label> Last setup: </label> {{guitar.last_setup}}</div>
<div> <label>Setup notes: </label> {{guitar.setup_notes}}</div>
<br>
<br>
<button data-toggle="modal" data-target="#update-modal" class="btn btn-info btn-block updateGuitarButton">Update this guitar</button>
<button data-toggle="modal" data-target="#delete-modal" class="btn btn-warning btn-block deleteGuitarButton">Delete this guitar</button>