      <div>Make: {{guitar.make}}</div>
      <div>Model: {{guitar.model}}</div>
    <div>  String brand: {{guitar.string_brand}}</div>
    <div>  String gauge: {{guitar.string_guage}}</div>
    <div>  Last string change: {{guitar.last_string_change}}</div>
    <div>  Last setup: {{guitar.last_setup}}</div>
    <div>  Setup notes: {{guitar.setup_notes}}</div>
    <br>
    <br>
      <button data-toggle="modal" data-target="#update-modal" class="btn btn-info btn-block updateGuitarButton">Update this guitar</button>
      <button data-toggle="modal" data-target="#delete-modal" class="btn btn-warning btn-block deleteGuitarButton">Delete this guitar</button>
